extends layout

block content
	#lead
		p This page requires javascript. Please make sure javascript is enabled in your web browser!
		form(id='metadataForm', style='display:none; max-width: 600px; margin:0 auto;')
			fieldset(data-role='controlgroup', data-type='vertical', id='metadata')
				div(class='ui-field-contain')
					label(for='pollName', style='text-align: left;') Poll name:
					input(type='text', name='pollName', id='pollName', style='width: 100%;' value='')
					label(for='pollCreator') Poll creator(s):
					input(type='text', name='pollCreator', id='pollCreator', value='')
					label(for='mediaURL') Video URL:
					input(type='text', name='mediaURL', id='mediaURL', value='')
			fieldset(data-role='controlgroup', data-type='horizontal', id='theme', style='margin:0 auto; text-align:left;')
				label(for='themeA') Theme A
				input(type='radio' name='themes', id='themeA', value='on', checked='checked')
				label(for='themeB') Theme B
				input(type='radio' name='themes', id='themeB')
				label(for='themeC') Theme C
				input(type='radio' name='themes', id='themeC')

		form(id='introForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;') Write a short introduction for this poll. It should explain why the poll is being conducted and how the data will be used.
			fieldset(data-role='controlgroup', data-type='vertical', id='welcome')
				div(class='ui-field-contain')
					label(for='welcomeText') Introductory text:
					input(type='text', name='welcomeText', id='welcomeText', value='')

		form(id='outroForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;') Write a short conclusion to the poll. It should thank the user for their time.
			fieldset(data-role='controlgroup', data-type='vertical', id='welcome')
				div(class='ui-field-contain')
					label(for='outroText') Conclusion text:
					input(type='text', name='outroText', id='outroText', value='')

		form(id='questionTypeForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;') Choose a question type.
			fieldset(data-role='controlgroup', data-type='vertical', id='theme', style='margin:0 auto; text-align:center;')
				label(for='informational') Informational slide; user reads a prompt but does not respond.
				input(type='radio' name='questionType', id='informational')
				label(for='pickOne') Multiple choice; user picks one. These can include text fields.
				input(type='radio' name='questionType', id='pickOne', value='on', checked='checked')
				label(for='pickSeveral') Multiple choice; user can pick several.
				input(type='radio' name='questionType', id='pickSeveral')
				label(for='slider') Slider; user inputs a number.
				input(type='radio' name='questionType', id='slider')
				label(for='textField') Text field; user types a response.
				input(type='radio' name='questionType', id='textField')

		form(id='informationalForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;')
			fieldset(data-role='controlgroup', data-type='vertical', id='theme', style='margin:0 auto; text-align:center;')
				div(class='ui-field-contain')
					label(for='informationalBody') Informational text:
					input(type='text', name='informationalBody', id='informationalBody', value='')

		form(id='pickOneForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;')
			fieldset(data-role='controlgroup', data-type='vertical', id='pickOneForm', style='margin:0 auto; text-align:center;')
				div(class='ui-field-contain')
					label(for='pickOneBody') Prompt:
					input(type='text', name='pickOneForm', id='pickOneBody', value='')
			div(class='ui-field-contain' id='pickOneResponses')
			fieldset(data-role='controlgroup', data-type='horizontal')
				input(type='button', name='pickOneAddResponse', id='pickOneRemoveResponse', value='Remove bottom response.')
				input(type='button', name='pickOneAddResponse', id='pickOneAddResponse', value='Add a response.')

		form(id='pickSeveralForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;')
			fieldset(data-role='controlgroup', data-type='vertical', id='pickSeveralForm', style='margin:0 auto; text-align:center;')
				div(class='ui-field-contain')
					label(for='pickSeveralBody') Prompt:
					input(type='text', name='pickSeveralForm', id='pickSeveralBody', value='')
			div(class='ui-field-contain' id='pickSeveralResponses')
			fieldset(data-role='controlgroup', data-type='horizontal')
				input(type='button', name='pickSeveralAddResponse', id='pickSeveralRemoveResponse', value='Remove bottom response.')
				input(type='button', name='pickSeveralAddResponse', id='pickSeveralAddResponse', value='Add a response.')

		form(id='sliderForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;')
			fieldset(data-role='controlgroup', data-type='vertical', id='theme', style='margin:0 auto; text-align:center;')
				div(class='ui-field-contain')
					label(for='sliderBody') Prompt:
					input(type='text', name='sliderBody', id='sliderBody', value='')
				div(class='ui-field-contain')
					label(for='sliderLower') Lower bound:
					input(type='number', number='sliderLower', pattern='[0-9]*', id='sliderLower', value='')
				div(class='ui-field-contain')
					label(for='sliderUpper') Upper bound:
					input(type='number', name='sliderUpper', pattern='[0-9]*', id='sliderUpper', value='')
				div(class='ui-field-contain')
					label(for='sliderIncrement') Amount to step (increment) by:
					input(type='number', name='sliderIncrement', pattern='[0-9]*', id='sliderIncrement', value='')
			input(type='button', name='sliderAddExplanation', id='sliderAddExplanation', value='Add a text box for explanations.')
			input(type='button', name='sliderRemoveExplanation', id='sliderRemoveExplanation', value='Remove the text box for explanations.')
			div(id='sliderExplanation')
				div(class='ui-field-contain')
					label(for='sliderExplanationHintText') Hint text: 
					input(type='text', name='sliderExplanationHintText', id='sliderExplanationHintText', value='')
				div(class='ui-field-contain')
					p(style='text-align: left; display: block !important;') Is the user required to write an answer in the text box?
					fieldset(data-role='controlgroup', data-type='vertical', id='sliderTextFieldRequired', style='margin:0 auto; text-align:center !important;')
						label(for='sliderExplanationRequiredTrue') Yes
						input(type='radio' name='sliderExplanationRequired', id='sliderExplanationRequiredTrue')
						label(for='sliderExplanationRequiredFalse') No
						input(type='radio' name='sliderExplanationRequired', id='sliderExplanationRequiredFalse', value='on', checked='checked')



		form(id='textFieldForm', style='display:none; max-width: 600px; margin:0 auto;')
			p(style='display: block !important;')
			fieldset(data-role='controlgroup', data-type='vertical', id='textField', style='margin:0 auto; text-align:center;')
				div(class='ui-field-contain')
					label(for='textFieldBody') Prompt:
					input(type='text', name='textFieldBody', id='textFieldBody', value='')
				div(class='ui-field-contain')
					label(for='textFieldHint') Hint text:
					input(type='text', name='textFieldHint', id='textFieldHint', value='')
				div(class='ui-field-contain')
					p(style='text-align: left; display: block !important;') Is the user required to write an answer in the text box?
					fieldset(data-role='controlgroup', data-type='vertical', id='textFieldRequired', style='margin:0 auto; text-align:center !important;')
						label(for='textFieldRequiredTrue') Yes
						input(type='radio' name='textFieldRequired', id='textFieldRequiredTrue')
						label(for='textFieldRequiredFalse') No
						input(type='radio' name='textFieldRequired', id='textFieldRequiredFalse', value='on', checked='checked')

	//-see line 727 if this doesn't work out
	div(id='bottomButtons', style='margin:0 auto; display:none; max-width: 600px;')
		div(style='text-align: left; width: 40%; float: left;')
			a(href='#', class='closingSlide', id='closingSlide', data-role='button', data-transition='slide', style='display:none;') Finish
		div(style='text-align: right; width: 40%; float: right;')
			a(href='#', class='next', id='next', data-role='button', data-transition='slide', style='display:none;') Next

	+serveJS('clientCreatePoll.js')