doctype html
html
	head
		title= title

		// JQUERY MUST BE INCLUDED BEFORE JQUERY MOBILE
		if locals.expose.exists['jquery_2_1_1.js']
			script(src='/dist/javascripts/jquery_2_1_1.js')
		else
			script(src='/javascripts/jquery_2_1_1.js')

		if locals.expose.exists['combined_style.css']
			link(rel='stylesheet', href='/dist/stylesheets/combined_style.css')
		else 
			link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.3.css')
			link(rel='stylesheet', href='/stylesheets/style.css')


		if locals.expose.exists['jquery_mobile_1_4_3.js']
			script(src='/dist/javascripts/jquery_mobile_1_4_3.js')
		else
			script(src='/javascripts/jquery_mobile_1_4_3.js')

		script.
			$(document).bind('mobileinit', function(){
				$.mobile.ignoreContentEnabled = true;
			});


		<meta name='viewport' content='width=device-width, initial-scale=1, minimal-ui'>


	body(class='ui-mobile-viewport ui-overlay-c' style='overflow-y: scroll;')
		div(data-role='page' id='frontpage')
			div(class='ui-header ui-bar-b', style='background-color: #fff !important;')
				//h1
					//a(class='heading-hyperlink' href='/') Flashpoll
				a(href='/', id='headerAnchor', style='display: block;margin: 0 auto !important; text-align:center; border: none;max-width: 212px; max-height: 57.5px', data-role= 'none', data-enhance='false')
					img(src='/images/opiner.jpg', style='max-width: 212px; max-height: 57.5px;' data-role='none')

			div(data-role='content', class='ui-content', style="margin-bottom:42px;")
				block content
			div(data-role='panel' data-dismissible='false' data-animate='true' data-position='left' data-position-fixed='true' data-display='push' id='gridPanel')
				block panel
			div(data-role='footer', data-visible-on-page-show="false", data-tap-toggle="false", class='ui-header ui-bar-b', style="height: 42px; position: absolute !important; bottom:0; width:100%")
				h4= 'TNG KTH SU @ Tekniska Museet'
				div(class='ui-btn-left')
					//if locals.expose.auth
					//	a(href='/logout' class='ui-btn' data-role='button' data-//inline='true' id='logout') Logout