doctype html
html
	head
		title= title

		//- Mixin for cleaner javascript serving
		mixin serveJS(filename)
			if(locals.expose.exists[filename])
				script(src='/dist/javascripts/'+filename)
			else
				script(src='/javascripts/'+filename)

		//- JAVASCRIPTS
		//- Note that jQuery must be included before jQuery Mobile
		+serveJS('jquery_2_1_1.js')
		+serveJS('jquery_mobile_1_4_3.js')

		//- CSS
		if locals.expose.exists['combined_style.css']
			link(rel='stylesheet', href='/dist/stylesheets/combined_style.css')
		else 
			link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.3.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')

		//- This is a (non-performant!!!) way to allow data-enhance=false to work
		//- In short, it allows elements to not be styled by jQuery Mobile at the cost of initialization time
		script.
			$(document).bind('mobileinit', function(){
				$.mobile.ignoreContentEnabled = true;
			});

		<meta name='viewport' content='width=device-width, initial-scale=1, minimal-ui'>

		block head


	body(class='ui-mobile-viewport ui-overlay-c' style='overflow-y: scroll;')
		div(data-role='page' id='frontpage')
			div(class='ui-header ui-bar-b', style='background-color: #fff !important;')
				a(href='/', id='headerAnchor', style='display: block;margin-left: auto !important;margin-right: auto !important;margin-top: 16px !important;margin-bottom: 16px !important; text-align:center; border: none;max-width: 405px; max-height: 94px', data-role= 'none', data-ajax='false', data-enhance='false')
					img(src='/images/Opiner_Logo.png', style='max-width: 405px; max-height: 94px;' data-role='none')
				div(class='ui-btn-right valign')
					if locals.expose.auth
						a(href='/logout' class='ui-btn' data-role='button' data-inline='true' id='logout') Logout

			div(data-role='content', class='ui-content', style="margin-bottom:42px;")
				block content
			div(data-role='panel' data-dismissible='false' data-animate='true' data-position='left' data-position-fixed='true' data-display='push' id='gridPanel')
				block panel
			div(data-role='footer', data-visible-on-page-show="false", data-tap-toggle="false", class='ui-header ui-bar-b', style="height: 42px; position: absolute !important; bottom:0; width:100%")
				h4= 'Forskning Pågår @ Tekniska Museet'
				div(class='ui-btn-left')