doctype html
html
	head
		title= title


		link(rel='stylesheet', href='/stylesheets/style.css')

		link(rel='stylesheet', href='/dist/stylesheets/jquery.mobile-1.4.3.min.css')
		



		// JQUERY MUST BE INCLUDED BEFORE JQUERY MOBILE
		// JQUERY NOT RESILIANT TO BUILD PROCESS
		script(src='../dist/javascripts/jquery-2.1.1.min_official.js')
		script(src='../dist/javascripts/jquery_mobile/jquery.mobile-1.4.3.min.js')


		<meta name="viewport" content="width=device-width, initial-scale=1">
	body(class="ui-mobile-viewport ui-overlay-c")
		div(data-role="page")
			div(data-role="header", class="ui-header ui-bar-b")
					h1
						a(class="heading-hyperlink" href="/") poll.js
			div(data-role='content', class='ui-content')
				block content
			div(data-role='footer', class='ui-header ui-bar-b')
					h4= 'built in node.js'