extends layout

block content
	+serveJS('clientMetaLogin.js')

	div(display='inline-block', style='width:280px; margin: 0 auto; text-align:center')
		h4(class='ui-bar ui-bar-a ui-corner-all') Please choose a way to log-in:
			div(class='ui-body ui-body-a ui-corner-all')
				a(href='#', id='anonymous', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Anonymous
				a(href='/nickname-login', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Nickname
				a(href='/login', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Username
				div(style='padding-left: 35%;')
					a(href='/register', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Register