extends layout

block content

	style.
		h1 {
			font-size: 3em;
			margin-bottom: 0px;
			margin-top:24px;
		}

	+serveJS('clientPolls.js')

	#wrapper
		h1 Poll List
		#listpoll
			ul(data-role="listview" data-icon="false" data-filter="true" style="margin-bottom: 50px;")