extends layout

block content
    if globalExists
        script(src='dist/javascripts/client_polls.js')
    else
        script(src='/javascripts/client_polls.js')
    //h1= title
    //p Welcome to a strange place of polls.

    // Wrapper
    #wrapper

        // USER LIST
        h1 Poll List
        #listpoll
            table(data-role="table" data-mode="columntoggle" class="ui-responsive")
                thead
                    th(data-priority="1") Poll ID
                    th(data-priority="2") Status
                    th(data-priority="3") Owner
                tbody
        // /USER LIST


        // ADD USER
        //h2 Add User
        //#addUser
        //    fieldset
        //        input#inputUserName(type='text', placeholder='Username')
        //        input#inputUserEmail(type='text', placeholder='Email')
        //        br
        //        input#inputUserFullname(type='text', placeholder='Full Name')
        //        input#inputUserAge(type='text', placeholder='Age')
        //        br
        //        input#inputUserLocation(type='text', placeholder='Location')
        //        input#inputUserGender(type='text', placeholder='gender')
        //        br
        //        button#btnAddUser Add User
        // /ADD USER

    // /WRAPPER