extends layout
block content
	script(src='/v11n/v11n.js')
	+serveJS('clientPollGrid.js')
	+serveJS('clientPollGrid.js')
	+serveJS('clientPollGrid.js')
	script(src='/javascripts/isotope.min.js')
	script(src='/javascripts/packery-mode.pkgd.min.js')

	link(rel='stylesheet', href='/v11n/css/c3.css')
	link(rel='stylesheet', href='/v11n/css/chart.css')
	link(rel='stylesheet', href='/stylesheets/roundList.css')

	style.
		.item { background-color: #FEF9ED; height: 18vw; width: 18%;overflow: hidden; cursor: pointer;}

		.item.big { background-color: #FFFFFD;width: 48%; height: 48vw; cursor: auto;}
		
		.grid-sizer {width: 18%;}
		
		@media screen and (min-width: 720px) {
			.item { width: 8%; height: 8vw;}
			.grid-sizer {width: 8%;}
		}
		
		.gutter-sizer {width: 2%;}
		
		.container {margin: 0px;}

		.item.highlighted {background-color: #9f9f9f}

	div(id='container' class='container')
		div(class='gutter-sizer')
		div(class='grid-sizer')

block panel
	h2(class="ui-bar ui-bar-a" id="pollTitle")
	div(id='collapsibleSet' data-role='collapsibleset' data-mini='true' data-inset='false' style='max-width: 100%; margin:0 auto;')
	div
		a(href='#', data-ajax='true' id='returnButton' class='ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Share this dataset