extends layout

block content
    if globalExists
        script(src='dist/javascripts/client_polls.js')
    else
        script(src='/javascripts/client_polls.js')
    //h1= title
    //p Welcome to a strange place of polls.

    // Wrapper
    #wrapper

        // USER LIST
        h1 Poll List
        #listpoll
            table
                thead
                    th Poll ID
                    th Status
                    th Owner
                    th Delete
                tbody