extends layout

block content

    //WARN: THIS IS REALLY UNCOOL; the scripts should be declared in head, not body
    if locals.expose.exists['client_polls.js']
        script(src='/dist/javascripts/client_polls.js')
    else
        script(src='/javascripts/client_polls.js')

    // Wrapper
    #wrapper

        // POLL LIST
        h1 Poll List
        - if (user !== false && typeof user !== 'undefined')
            p= user.rights.accessClosed
        #listpoll
            ul(data-role="listview" data-filter="true" data-theme="a" style="margin-bottom: 50px;" data-inset="true")





            //data-split-icon="delete"