extends layout

block content

    style.
        h1 {
            font-size: 3em;
            margin-bottom: 0px;
            margin-top:24px;
        }

    //WARN: THIS IS REALLY UNCOOL; the scripts should be declared in head, not body
    if locals.expose.exists['clientPolls.js']
        script(src='/dist/javascripts/clientPolls.js')
    else
        script(src='/javascripts/clientPolls.js')

    // Wrapper
    #wrapper

        // POLL LIST
        h1 Poll List
        //- if (user !== false && typeof user //!== 'undefined')
        //    p= user.rights.accessClosed
        #listpoll
            ul(data-role="listview" data-icon="false" data-filter="true" style="margin-bottom: 50px;")





            //data-split-icon="delete"
            // data-inset="true"