extends layout

block content
	h1= title

	+serveJS('clientPollOverview.js')
	script(src='/v11n/v11n.js')

	link(rel='stylesheet', href='/stylesheets/roundList.css')
	link(rel='stylesheet', href='/v11n/css/c3.css')
	link(rel='stylesheet', href='/v11n/css/chart.css')

	h2(id='pollTitle')
	p(id='pollMetadata')
	div(id='collapsibleSet' data-role='collapsibleset' data-mini='true' data-inset='false' style='max-width: 100%; margin:0 auto;')
	a(href='#', id='gridButton' class='ui-shadow ui-btn ui-corner-all', style='width:85%; margin-top: 15px; margin-bottom: 15px; margin-left: auto; margin-right: auto; padding: 15px;') Utforska vidare
	a(href='/', id='returnButton' class='ui-shadow ui-btn ui-corner-all', style='width:85%; margin-top: 15px; margin-bottom: 15px; margin-left: auto; margin-right: auto; padding: 15px;') Tillbaka

	script.
		//console.log('data');
		document.getElementById('gridButton').onclick = function() {
			if(topData.language && topData.language === 'english') {
				alert('The grid visualization is not available on this device. Please try it out on the large touch TV!');
			} else {
				alert('Tyvärr är ej denna funktion tillgänglig på denna enhet, vad god att testa på tvn med touch.');
			}
		}