extends layout

block content
    if globalExists
        script(src='dist/javascripts/client_polls.js')
    else
        script(src='/javascripts/client_polls.js')
    //h1= title
    //p Welcome to a strange place of polls.

    // Wrapper
    #wrapper

        // USER LIST
        h1 Poll List
        #listpoll
            ul(data-role="listview" data-split-icon="delete" data-split-theme="a" data-inset="true")




//            table(data-role="table" data-mode="columntoggle" class="ui-responsive")
//                thead
//                    th(data-priority="1") Poll ID
//                    th(data-priority="2") Status
//                    th(data-priority="3") Owner
//                    th(data-priority="4") Delete
//                tbody