extends layout

block content
    h1= title
    p Please pick a nickname to access this poll.

    <input type="text" data-clear-btn="true" name="text-nickname" id="text-nickname" value="" placeholder="Nickname">