extends layout

block content
	h1= title

	if locals.expose.exists['client_view_poll_json.js']
		script(src='/dist/javascripts/client_view_poll_json.js')
	else
		script(src='/javascripts/client_view_poll_json.js')
	if locals.expose.exists['prettyPrint.js']
		script(src='/dist/javascripts/prettyPrint.js')
	else
		script(src='/javascripts/prettyPrint.js')


	div(style='max-width: 80%; margin:0 auto')
		p(style='text-align: left' id='pollname')
		div(class='ui-corner-all')
			div(id='pollname' class='ui-bar ui-bar-a')
				h3
			div(id='polljson' class='ui-body ui-body-a')
				pre(id='json')
		a(href='#', id='refreshbutton', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Refresh
		a(href='#', id='savebutton', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Save
		a(href='#', id='clonebutton', class='ui-shadow ui-btn ui-corner-all', style='margin: 15px; padding: 15px;') Clone