.full-width-slider input {
    display: none;
}
.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

a.heading-hyperlink {
	text-decoration: none;
	data-role: "nojs";
}

a.heading-hyperlink:link {color: #000000 !important;}
a.heading-hyperlink:visited {color: #000000 !important;}
a.heading-hyperlink:hover {color: #000000 !important;}
a.heading-hyperlink:active {color: #000000 !important;}